CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_ipq40xx_generic=y
CONFIG_TARGET_ipq40xx_generic_DEVICE_meraki_mr33=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-ath=y
# CONFIG_PACKAGE_kmod-ath10k is not set
# CONFIG_PACKAGE_ath10k-firmware-qca4019 is not set
CONFIG_PACKAGE_kmod-ath10k-ct=y
# CONFIG_PACKAGE_kmod-ath10k-ct-smallbuffers is not set
# CONFIG_PACKAGE_ath10k-firmware-qca4019-ct is not set
CONFIG_PACKAGE_ath10k-firmware-qca4019-ct-fullall=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_KERNEL_CFG80211_REQUIRE_SIGNED_REGDB=n
CONFIG_KERNEL_CFG80211_CERTIFICATION_ONUS=y
CONFIG_ATH_USER_REGD=y
CONFIG_PACKAGE_ATH_USER_REGD=y
CONFIG_MAC80211_USER_REGD=y
CONFIG_PACKAGE_wireless-regdb=y
CONFIG_PACKAGE_tcpdump-mini=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_luci-app-cloudflare=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-opkg=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_cloudflared=y
CONFIG_PACKAGE_python3=y
CONFIG_PACKAGE_python3-light=y
CONFIG_PACKAGE_python3-urllib=y
CONFIG_PACKAGE_python3-json=y
